[user]
	email = ryota1839@gmail.com
	name = Kise Ryota

 [include]
    path = ~/.gitconfig_local
[alias]
	a = add
	br = branch
	c = commit
	co = checkout
	cob = checkout -b
	brd = branch -d
	diffw = diff --word-diff
	g = git
	olog = log --oneline
	ph = push origin HEAD
	plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
	plh = pull origin HEAD
	rb = rebase
	rs = reset --soft HEAD^
	st = status
	sts = stash
	stsp = stash pop
	swc = switch -c
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[rebase]
	autostash = true
[pull]
	rebase = true
	ff = only
[merge]
	ff = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
